apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: prometheus-k8s-metrics
  namespace: openshift-kueue-operator
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - pods
      - secrets
    verbs:
      - get
      - list
      - watch
