apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "kueue.openshift.io/v1",
          "kind": "Kueue",
          "metadata": {
            "labels": {
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "kueue-operator"
            },
            "name": "cluster",
            "namespace": "openshift-kueue-operator"
          },
          "spec": {
            "config": {
              "integrations": {
                "frameworks": [
                  "BatchJob"
                ]
              }
            },
            "managementState": "Managed"
          }
        }
      ]
    capabilities: Basic Install
    createdAt: "2025-07-15T01:52:59Z"
    operators.operatorframework.io/builder: operator-sdk-v1.37.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    console.openshift.io/operator-monitoring-default: "true"
    features.operators.openshift.io/cnf: "false"
    features.operators.openshift.io/cni: "false"
    features.operators.openshift.io/csi: "false"
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operatorframework.io/cluster-monitoring: "true"
    operatorframework.io/suggested-namespace: openshift-kueue-operator
    operators.openshift.io/valid-subscription: '["OpenShift Kubernetes Engine", "OpenShift Container Platform", "OpenShift Platform Plus"]'
    operators.operatorframework.io/builder: operator-sdk-v1.33.0
  name: kueue-operator.v1.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - kind: Kueue
        name: kueues.kueue.openshift.io
        version: v1
  description: Red Hat build of Kueue is a collection of APIs, based on the [Kueue](https://kueue.sigs.k8s.io/docs/) open source project, that extends Kubernetes to manage access to resources for jobs. Red Hat build of Kueue does not replace any existing components in a Kubernetes cluster, but instead integrates with the existing Kubernetes API server, scheduler, and cluster autoscaler components to determine when a job waits, is admitted to start by creating pods, or should be preempted.
  displayName: Red Hat build of Kueue
  icon:
    - base64data: "iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAA/1BMVEX////aIS7kJim6IzTCITOtITziAADaHyzaHCrYABXYABDXAADYABfZFSXZGSjZECLZCB3YAAzjGBzeQErsnqL98vPkISTdOEL1zc/BGS3wtbi2ACH++fryvsH32dr76OnmfIL76+zzw8bldXvjanHfTVXnhInqlZm2ITivITu+ABfjCxHvrrHOIjDpjZLcLDjgUlriYWi/ACC+ABXnRUfsb3C3DibmvL/jrbHlLTDoU1TVhoz31dfcMDzhWmLtpanGcX2oACrQjZe2O0/Zpay+Jz3Sa3TKS1fNKTqlAB28AAXKRlLNWGLfm6H519fBYW/IMz/YgYm5R1rJRlPmOz0Caq8gAAALM0lEQVR4nO2d6X/aOBPHY0iQbXwSMIYYc0MDlCvNTULZ3fTapNvt9v//Wx6b0zaWMaDB9Pno+6J9FcQPSTPSzEg6OaFQKBQKhUKhUCgUCoVCoVAoFAqFQqFQKBQKhUKh/G5kzEqnWx2c90RBTaqcgs4H1W6nUsxE/cVIYOjjala2VMmixCKEGIax/mUlUVY4Xn4apHUj6q+4D3q3bmkTWVuXH4gVFS5Z7/6eKo1CTeZkCaPNiSRzyqDwu4nUawon4rrOpzNFgatVov7S4Smn0TbyFiI5qWRG/dVDYdYsY7mlvLlIWa0ff0fq/eTW3edA4p/yUUsIZNRXw9iWIFiud7wai8/JffXNNGaPc6waDV4koG+qUR0Uo5azToXd0b74IqrpqAV5MGoqQX0WSDg/qm6sSDJRfTbSMXVjN0m2A2cgrn4km49MXQDQZyOKetTibHSOlAldByXHUcs7OekQNjEe+GrUAhuwAhlG6Ue7r6pysPos5GyU9maggAu07A0TnWfsH0Kg5RnFqCQ+H0agtU6Vyv/fAq1e7EUxF2uHE2jNxezhBZa2s6KIFWVF4HhVVXlOUGQRbedl5PqhBY75LdSJCs89lZr5im4Wi0VTr3S6NYbjlW3iHUrtsAL1ZGh5sspUx6N1t22YnZqkKmzYD+Kbzj++vYMVWAy520Uyz3SDQoRm84mXQ/akuoxtjD5OJl9hPUg2VDwGKVxptPGzzBIfriORMPUZ5h+Xk8uzs8s/IQWWwphRpLDpcEtKY/zEhdEo1k8yf/05mZxNmfwFJ7CghtEnb7PxKTAbx71lfN//nNjdN+PyBsxHZrjNE0cUmps/yEVaDgyEWPJeLFVLee9OT3OfQORZDDbueBHf336ZlcEHsxDb+3Hm4F381OYKKM2R3zhGJaGz0ydXRL/fDqHel0uHvMuZPIvcZ8LSZhgbjbtQ33WdnOl7Ij520vjLi1Peu1MHrVui0uaUNsQNkdrd49NdUTtJEd7j5dmd+IOYrBXmhjGK1P3yKnl+7jdYhT8fZ0ZfvZPPxTeAlU092Nez3L7xP1Nmp2uhXnO6aLn96pl8jh5snT6StzWV4AU3K+7fZJmRObm0/KHeJuuj05Y3HH4CCaZmA9cerEJisViuucoW/rnwkXf1egsTgisEdiEiInCNv3Pe0fn3G1hU4zxoFqLk5mX2LpRb7tEJMPmWBM9CtQDU7F1rJQ9m8i3pB3WhsI8fDOY1N5t8n++A499m0MZe7MM1bI3T3NUPuMm3JGg5gxTIeN9b7vUQxUSBK1KwSWjzvRG7B/z4JfmARKgIFwkrpn8lUrE25C+4IGDBhjigMWp0HhIpLRaLaR9gGnBSDrAzAkyqtnKdaNvybBLfQZpwMsaHn9gngPZGJW0pzyIFnwwOGKQc8UlSbMasyeciAZ0LzvBYS8r2CDe1mHwu2tAFfQW8Jd0xLOOPURgk2mvybFsDuKSYUsJG2JBEbvyUqylfedNhCpxDxBbcMzLJBWkMp88apiSHyjpF/LYiSXJXWEhgFQIPU/yCRjon2tCvgE4EtaYN7KpbIevt8228QtDS4To2QMMTDl2ksApTDbItucGmhljSNQRdrETQtWkRGwiWSf+wJt7WQPqLCrbyQiA+OT5gbQ3kRMQvu5PEYwtprK1JbZuU3AKsKUUM8baK2GGqXRNvbMkAt7EQB+Qbw7pEDTCWgY3mrwyN/g+p8VrCWtM2nKnB1mgps8Wi+cdk8pVU83innwCLuOHDbLYpnZeATEgpxE9EZzxK/0RSbgbn8BGn3/78OisBIabwBNuH7cUhE/NxeNEiGeAv+7rDaZL9clnhQk4h1iPO1m3lt5fhTTx+QTKL77d3QsyTM8l+dhYnphBralLXJ8bd65UlLw6tECF3hYudZR8SU5jGKNRi9Y8XF/E5gAoR665wmWfZW8RWN77GVIv1vrzEb+JxGIWreSh5KlxWWfYWMdtWWVOoxX5Z8tyAKGSVZD3uHp2r9OyQWIvfPe5Cu8/+iK9BVGHZjmEgWc2myyeTtfqyhUJixS3ODZSm3T/5yCOt0PKHIic0psPw3Vp92SIH/S+p5pYuX2snrr/4yiOt0FBXlzr8vPQrwLKz0P+Rai4zVailEg8d4+QKp5Coxz/prDzB46VvBU/r5Y6YLS1bClOJ+2lVVHHoK+/0PaNCVXq/3fjII1t/VUy0U6V5Ns288NGXs9YbjAq10dCH3tFJvATk+8MqXHG3ptDqvqlXlqHCp+Url7yrV9gSkMcbr7z5JgAkaTnDOTrhS0A++8qzlx5wQf7X3FxeDrL+ao6x6sIc49rCySWwRt+Gh6i/mmMOF93n3aEqcBcS6MPcN/D6qwVvN97RuYADDJ5ePR/uvONrPO4nzwLMHRr5PmRQz9vaNz9xU2fBw7SoTytcoPPNK/DVA9IzQHNmY14CApvIc4I/n6MQj/CX7fIyzRkQOgBlfInL3ocC3Bj5B2cJiPaL6KfjSWMTQkghacz1attTAgIXe3bjb0Wn05DcyWezq3nrr2DTXA4K+PPipKoHMuMP6/JisEkgBwGnO1Qio8h48K+/sofpIZZseXwND6lSOg2bb04B5iqX9PBdSKoOq4qv/EjAF86nA6queUKmroCv3kmVyDSBJyPgC+dZUnVYBl5hrA3diUHHjcnVYT3ji8ygq5IDzAyDyAWhAorMYgnQaxvKAWOU5NmHoGGqPRBrxofAU3I8QV91jbemsQRg4XXgvRRES+l0fJEZZPX8OPA8NUf0pw2oSoZz+8EXbxA+GoAvMrM70Wu0yZg4PfgqTaJHA6zvHKTQs4u6/dT6SKBJPfhmEYQItOEEX4IVs9OXy14zH28ubuIX+983UthwEyNP2sDhC5SmEmdlu/MKF4ub1z3NT2fDba8Et74LghyGZW0sr3i7qHCZSnzZaznX2HRzCsCB8cBO1GLo88XFKansc6a+6X4mGWKxiN9DaYxvkr31uGNLurzpch+YpGEG04n3733zz9ORusv2zShtvnB5z5tTcHR9PMZ97xSnz06E8dvvwfNo843ZIkSg28a9sNHaMf/RucxjWl2hoO1+bf0cH/x1jFGodILjuNW0BCRQ3jzGibhs+JOlo74a5sI2wCPxz3Njk0r8SlvbQh1X4+JKhLFcbxzKLlRCvhmhAG667QIXS57WmFuQR2wJiAtWEaqb3JfZZLhwb0YQPiTnoZNoJ64dGafXG4+8eQmIFySqvQb+saNR90kNezEkUmAjQ6WO62saLx55AXExmePr3ULRLdMoVpp1jpNDX+4JdfsNlmLLf/L5fztWFlQ5+1ztpi2apVo/q6iCLG1zDW0S9oysD6MWZvLhZdpPkdlMHyjbQpzNDg52bwot3OQDQIjken3gNwOcHPoS4aVEkIc7/AQCHB8LKfEwvShE1IM2hUP0IhfpExc6H9qh7cped2kSwBRJPNOFBx3eD3rJZMk/hLRCEo7hLZ1aiJ3djijZaJ598DIOtbnbHqRG/ozOApOFGKkS2QzMfhB/dm36YtdRPbx2kpfIPughckfwlpUbo7T385UrWHVwHCbGjVkn5P4R93QMPsKPQk/YXyNSpMidfAAdJtQ7DkH61OaRP+9cOFd3f0tP4piQb2JEymiwxesxzu6T1foRecBAys3wQcKFPJFjA1+kOTpGDZZXwroPVubk3+nh8QWj5nlSkDdE1RArK8ls41i9w0YyhUZW4RX/yCiSRIUTsqX8MTr3bciMOqW+mLTfIlMU2cb6X+D4JHdeHetH8losAQxzVOikm81GqdFspjsF3fwNvAKFQqFQKBQKhUKhUCgUCoVCoVAoFAqFQqFQKBTKNvwPfHcIWuueLxoAAAAASUVORK5CYII="
      mediatype: "image/png"
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - kueue.openshift.io
              resources:
                - kueues
                - kueues/status
                - kueues/finalizers
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - watch
                - deletecollection
                - list
                - create
                - update
                - delete
                - patch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterroles
                - clusterrolebindings
                - roles
                - rolebindings
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
                - bind
                - escalate
            - apiGroups:
                - apps
              resources:
                - deployments
                - replicasets
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - services
                - serviceaccounts
                - events
                - pods
                - secrets
                - configmaps
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - config.openshift.io
              resources:
                - infrastructures
                - apiservers
              verbs:
                - get
                - watch
                - list
            - apiGroups:
                - monitoring.coreos.com
              resources:
                - servicemonitors
              verbs:
                - get
                - watch
                - list
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - admissionregistration.k8s.io
              resources:
                - validatingwebhookconfigurations
                - mutatingwebhookconfigurations
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - cert-manager.io
              resources:
                - issuers
                - certificates
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
          serviceAccountName: openshift-kueue-operator
      deployments:
        - name: openshift-kueue-operator
          spec:
            replicas: 2
            selector:
              matchLabels:
                name: openshift-kueue-operator
            strategy: {}
            template:
              metadata:
                labels:
                  app.openshift.io/name: kueue
                  name: openshift-kueue-operator
              spec:
                containers:
                  - args:
                      - operator
                    command:
                      - kueue-operator
                    env:
                      - name: WATCH_NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.annotations['olm.targetNamespaces']
                      - name: OPERATOR_NAME
                        value: openshift-kueue-operator
                      - name: RELATED_IMAGE_OPERAND_IMAGE
                        value: registry.redhat.io/kueue/kueue-rhel9@sha256:73390c4d95bacb5b4d96eac7f82e76fbba4161beb1220e5a4924fdef3e3a8e01
                    image: registry.redhat.io/kueue/kueue-rhel9-operator@sha256:be17fa822e31b75b865b9355385c6eb7353c29fd33018c7d03d16d3a3416534d
                    imagePullPolicy: Always
                    name: openshift-kueue-operator
                    ports:
                      - containerPort: 60000
                        name: metrics
                    resources: {}
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                      readOnlyRootFilesystem: true
                    volumeMounts:
                      - mountPath: /tmp
                        name: tmp
                priorityClassName: system-cluster-critical
                securityContext:
                  runAsNonRoot: true
                  seccompProfile:
                    type: RuntimeDefault
                serviceAccountName: openshift-kueue-operator
                volumes:
                  - emptyDir: {}
                    name: tmp
      permissions:
        - rules:
            - apiGroups:
                - networking.k8s.io
              resources:
                - networkpolicies
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
          serviceAccountName: openshift-kueue-operator
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - kueue-operator
  links:
    - name: Kueue Operator
      url: https://github.com/openshift/kueue-operator
  maintainers:
    - email: aos-node@redhat.com
      name: Node team
  maturity: alpha
  provider:
    name: Red Hat, Inc
    url: https://github.com/openshift/kueue-operator
  relatedImages:
    - image: registry.redhat.io/kueue/kueue-rhel9@sha256:73390c4d95bacb5b4d96eac7f82e76fbba4161beb1220e5a4924fdef3e3a8e01
      name: operand-image
    - name: must-gather
      image: registry.redhat.io/kueue/kueue-must-gather-rhel9@sha256:f5f624ef8dbb3676ed4e37335e226e76e5f886c1990c6e0e8c0e4762740ed98d
  version: 1.0.1
  minKubeVersion: 1.28.0
