<<<<<<<< HEAD:bindata/assets/kueue-operator/networkpolicy/10-allow-ingress-egress-metrics.yaml
# allow ingress and egress traffic to/from metrics endpoint
|||||||| parent of e772e32c (network policies and metrics tweaks):bindata/assets/kueue-operator/networkpolicy/allow-ingress-metrics.yaml
# allow ingress traffic to metrics endpoint
========
# allow ingress traffic to metrics endpoint on kueue operand pod
>>>>>>>> e772e32c (network policies and metrics tweaks):bindata/assets/kueue-operator/networkpolicy/operand/05-allow-ingress-metrics.yaml
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: kueue-allow-ingress-egress-metrics
  namespace: openshift-kueue-operator
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: kueue
      control-plane: controller-manager
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          openshift.io/cluster-monitoring: "true"
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: openshift-monitoring
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: openshift-user-workload-monitoring
    ports:
    - protocol: TCP
      port: 8443
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          openshift.io/cluster-monitoring: "true"
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: openshift-monitoring
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: openshift-user-workload-monitoring
    ports:
    - protocol: TCP
      port: 8443
  policyTypes:
  - Ingress
  - Egress
