apiVersion: apps/v1
kind: Deployment
metadata:
  name: openshift-kueue-operator
  namespace: openshift-kueue-operator
spec:
  replicas: 2
  selector:
    matchLabels:
      name: openshift-kueue-operator
  template:
    metadata:
      labels:
        name: openshift-kueue-operator
        app.openshift.io/component: operator
        app.openshift.io/name: kueue # for network policies to select this pod
    spec:
      priorityClassName: system-cluster-critical
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: openshift-kueue-operator
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: [ "ALL" ]
          image: registry.redhat.io/kueue/kueue-rhel9-operator:latest
          volumeMounts:
            - name: tmp
              mountPath: "/tmp"
            - name: metrics-tls
              mountPath: "/var/run/secrets/serving-cert"
              readOnly: true
          ports:
            - containerPort: 8443
              name: metrics
          command:
            - kueue-operator
          args:
            - "operator"
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "openshift-kueue-operator"
            - name: RELATED_IMAGE_OPERAND_IMAGE
              value: registry.redhat.io/kueue/kueue-rhel9:latest
            - name: RELATED_IMAGE_MUST_GATHER
              value: registry.redhat.io/kueue/kueue-must-gather-rhel9:latest
      serviceAccountName: openshift-kueue-operator
      volumes:
        - name: tmp
          emptyDir: {}
        - name: metrics-tls
          secret:
            secretName: openshift-kueue-operator-metrics-tls
            optional: true
